<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> 表单填写</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <link href="../../../lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../css/bootstrap-table.css" rel="stylesheet" />
    <link href="../../../css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="../../../css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="../../../css/alertStyle.css" rel="stylesheet" />
    <link href="../../../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- jquery插件包-必要 -->
    <!-- 这个是所有jquery插件的基础，首先第一个引入 -->
    <script src="../../../js/jquery-1.7.1.js"></script>
    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/jquery.min.js"></script>
    <script src="../../../js/jquery-migrate-1.2.1.js"></script>
    <script src="../../../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../js/bootstrap-table.js"></script>
    <script src="../../../js/bootstrap-table.min.js"></script>
    <script src="../../../js/bootstrap-select.js"></script>
    <script src="../../../js/bootstrapValidator.min.js"></script>
    <script src="../../../js/jquery.editable-select.min.js"></script>

    <script src="../../../js/bootstrap-datetimepicker.min.js"></script>
    <script src="../../../js/jquery.jqGrid.min.js"></script>
    <script src="../../../js/grid.locale-cn.js"></script>
    <!-- jqGrid相关 -->
    <link href="../../../jqgrid/css/ui.jqgrid.css" rel="stylesheet" />
    <!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
    <link href="../../../jqgrid/css/css/cupertino/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <!-- jqGrid插件包-必要 -->
    <script src="../../../jqgrid/js/jquery.jqGrid.src.js"></script>
    <!-- jqGrid插件的多语言包-非必要 -->
    <!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
    <script src="../../../jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script src="../../../js/bs/common.js"></script>
    <script src="../../../js/bs/OQC-QUALITY/O51.js"></script>


</head>
<body class="hold-transition skin-blue">
    <section class="content-header">
        <h1>
            表单填写
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>  OQC-QUALIT</a></li>
            <li class="active">表单填写</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="col-md-3 column">

                        <div class="box-header with-border">
                            <i class="fa fa-fw fa-info-circle" title="信息展示"></i><label class="text-red">操作人员：<span id="user"></span>&nbsp;</label>
                            <i class="fa fa-fw fa-info-circle" title="信息展示"></i><label class="text-red">需求：表单填写</label>
                        </div>
                        <form class="form-horizontal" role="form" onkeydown="if(event.keyCode==13){return false;}">
                            <fieldset>
                                <div class="form-group">
                                    <span class="col-sm-3" id="lot" style="color:red"></span>
                                    <div class="col-sm-6">
                                        <span id="getInfo" style="color:red"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">请选择日期:</label>
                                    <div class="col-sm-5">
                                        <input type="text" name="entryDate" id="datetimepicker" class="form-control" placeholder="请选择日期" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small" for="modelName">班别:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="dataType" data-live-search="true">
                                            <option>白班</option>
                                            <option>夜班</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">机种:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="ModelName" data-live-search="true"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">线体:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="PdlineName" data-live-search="true" onchange="GetProcess()"></select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">制程:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="ProcessName" data-live-search="true"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">模板名称:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="Template" data-live-search="true" onchange="GetDnno()"></select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">任务号:</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="Dnno" data-live-search="true" onchange="GetShow()"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-primary" onclick="SelectShow()">查询</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small" for="empName"></label>
                                </div>
                            </fieldset>
                        </form>
                        <div id="mymodal" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">请编辑</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">ID:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="entryDate" id="Id" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">任务号:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="entryDate" id="Dnno1" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">日期:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="entryDate" id="datetimepicker1" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">班别:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="entryDate" id="banbie" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE1">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ1"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type1" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE2">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ2"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type2" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div id="TYPE3">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ3"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type3" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE4">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ4"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type4" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE5">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ5"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type5" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE6">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ6"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type6" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE7">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ7"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type7" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE8">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ8"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type8" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE9">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ9"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type9" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE10">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ10"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type10" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE11">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ11"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type11" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE12">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ12"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type12" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE13">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ13"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type13" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE14">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ14"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type14" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE15">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ15"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type15" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE16">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ16"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type16" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE17">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ17"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type17" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE18">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ18"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type18" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE19">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ19"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type19" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="TYPE20">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="Typ20"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Type20" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" onclick="insert()">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mymodal1" class="modal fade" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">请核查</h4>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">ID:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="entryDate" id="Id1" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">任务号:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="entryDate" id="Dnno11" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">日期:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="entryDate" id="datetimepicker11" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">班别:</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="entryDate" id="banbie1" class="form-control" readonly="readonly" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE1">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp1"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType1" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE2">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp2"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType2" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div id="LTYPE3">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp3"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType3" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE4">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp4"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType4" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE5">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp5"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType5" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE6">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp6"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType6" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE7">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp7"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType7" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE8">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp8"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType8" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE9">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp9"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType9" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE10">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp10"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType10" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE11">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp11"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType11" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE12">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp12"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType12" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE13">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp13"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType13" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE14">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp14"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType14" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE15">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp15"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType15" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE16">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp16"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType16" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE17">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp17"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType17" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE18">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp18"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType18" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE19">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp19"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType19" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div id="LTYPE20">
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true"><span id="LTyp20"></span></label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="LType20" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">结果:</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Result" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">FA:</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Fa" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label class="col-sm-3 control-label small" for="modelName" data-live-search="true">CA:</label>
                                            <div class="col-sm-8">
                                                <input type="text" name="ary_lot" id="Ca" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal">取消</button>
                                        <button type="button" class="btn btn-primary" onclick="insert1()">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table id="jqGrid"></table>
                        <div id="jqGridPager"></div>


                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>
