<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <title>G004</title>
    <link href="../../../lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../css/bootstrap-table.css" rel="stylesheet" />
    <link href="../../../css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="../../../css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="../../../css/alertStyle.css" rel="stylesheet" />
    <!-- jquery插件包-必要 -->
    <!-- 这个是所有jquery插件的基础，首先第一个引入 -->
    <script src="../../../js/jquery-1.7.1.js"></script>
    <script src="../../../lib/jquery/jquery.js"></script>
    <script src="../../../lib/jquery/jquery.min.js"></script>
    <script src="../../../js/jquery-migrate-1.2.1.js"></script>
    <script src="../../../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../js/bootstrap-table.js"></script>
    <script src="../../../js/bootstrap-table.min.js"></script>
    <script src="../../../js/bootstrap-select.js"></script>
    <script src="../../../js/bootstrapValidator.min.js"></script>
    <script src="../../../js/jquery.editable-select.min.js"></script>

    <script src="../../../js/jquery.jqGrid.min.js"></script>
    <script src="../../../js/grid.locale-cn.js"></script>

    <!-- jqGrid相关 -->
    <link href="../../../jqgrid/css/ui.jqgrid.css" rel="stylesheet" />
    <!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
    <link href="../../../jqgrid/css/css/cupertino/jquery-ui-1.8.16.custom.css" rel="stylesheet" />

    <!-- jqGrid插件包-必要 -->
    <script src="../../../jqgrid/js/jquery.jqGrid.src.js"></script>
    <!-- jqGrid插件的多语言包-非必要 -->
    <!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
    <script src="../../../jqgrid/js/i18n/grid.locale-cn.js"></script>

    <script src="../../../js/bs/common.js"></script>
    <script src="../../../js/bs/MoveOut/G004.js"></script>
</head>
<body class="wrapper skin-blue">
    <section class="content-header">
        <h1>
            重列印RUNCARD
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>過賬中心</a></li>
            <li class="active">G004</li>
        </ol>
    </section>
    <section class="content" style="height: 100%;">
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-fw fa-info-circle" title="信息展示"></i>
                <label class="text-red">作業人員：<span id="user"></span>,&nbsp;電腦IP：<span id="ip"></span></label>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3 column">
                        <form class="form-horizontal left-25" role="form" onkeydown="if(event.keyCode==13){return false;}">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label small" for="ds_stepm">刷入Lot號</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="lotno" id="lotno" class="form-control" autocomplete="off" onkeydown="onKeyDownG06(event)" />
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
