<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <title>Q02-OQC點收</title>
    <link href="../../../lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../css/bootstrap-table.css" rel="stylesheet" />
    <link href="../../../css/bootstrap-table.min.css" rel="stylesheet" />
    <link href="../../../css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="../../../css/alertStyle.css" rel="stylesheet" />
    <link href="../../../css/Melon2PA.css" rel="stylesheet" />
    <!-- jquery插件包-必要 -->
    <!-- 这个是所有jquery插件的基础，首先第一个引入 -->
    <script src="../../../js/jquery-1.7.1.js"></script>
    <script src="../../../lib/jquery/jquery.js"></script>
    <script src="../../../lib/jquery/jquery.min.js"></script>
    <script src="../../../js/jquery-migrate-1.2.1.js"></script>
    <script src="../../../lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../js/bootstrap-table.js"></script>
    <script src="../../../js/bootstrap-table.min.js"></script>
    <script src="../../../js/bootstrap-select.js"></script>
    <script src="../../../js/bootstrapValidator.min.js"></script>
    <script src="../../../js/jquery.editable-select.min.js"></script>
    <script src="../../../js/jquery.jqGrid.min.js"></script>
    <script src="../../../js/grid.locale-cn.js"></script>
    <!-- jqGrid相关 -->
    <link href="../../../jqgrid/css/ui.jqgrid.css" rel="stylesheet" />
    <!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
    <link href="../../../jqgrid/css/css/cupertino/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
    <!-- jqGrid插件包-必要 -->
    <script src="../../../jqgrid/js/jquery.jqGrid.src.js"></script>
    <!-- jqGrid插件的多语言包-非必要 -->
    <!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
    <script src="../../../jqgrid/js/i18n/grid.locale-cn.js"></script>
    <script src="../../../js/bs/common.js"></script>
    <script src="../../../js/bs/OQC/Q02.js?v071301"></script>
</head>
<body>
    <div class="col-md-12 column">
        <p class="bg-primary" style="font-size: 20px">頁面功能描述: OQC ELOT點收作業</p>
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="col-md-12 column">
                    <label style="color:red">lbluser:</label>
                    <label id="user" style="color:red"></label>
                    <label style="color:red">IP:</label>
                    <label id="IPADDR" style="color:red"></label>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-6 column">
        <form class="form-horizontal" role="form" onkeydown="if(event.keyCode==13){return false;}">
            <fieldset>
                <div class=" col-md-12 column">
                    <div class=" col-md-12 column">
                        <label class="col-md-2">OQC大批號編碼:</label>
                        <div class="col-sm-5">
                            <input type="text" id="lotid" name="lotid" class="form-control" style="width:180px" onkeydown="onKeyDownlotid(event)" />
                        </div>
                        <div class="col-sm-3">
                            <button type="button" id="insertlot" name="insertlot" class="btn btn-primary" style="width:100px" onclick="lotinsert()">確認點收</button>
                        </div>
                        <div class="col-sm-2">
                            <label id="labmsg" style="color:red"></label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <br />
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="col-md-12 column">
                    <div class=" col-md-12 column">
                        <label class="col-md-2">總數量:</label>
                        <div class="col-sm-5">
                            <label id="labnum"></label>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" id="deltmplot" name="deltmplot" class="btn btn-primary" style="width:100px" onclick="lottmpdel()">清空</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <br />
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="col-md-12 column">
                    <table id="jqGridQ04"></table>
                    <div id="jqGridPagerQ04"></div>
                </div>
            </fieldset>
        </form>
        <br />
    </div>
    <div class="col-md-6 column">
    </div>
</body>
</html>
